/* colors
#73c3a3
#0d142d
#000000
#a7a9ac
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #484848;
}

main {
  padding-top: 103px;
}


header {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.08);
  position: fixed
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d142d;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  color: #a7a9ac;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: #0d142d;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: underline;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #000000;
}

a:hover,
a:focus {
  color: #000000;
  font-weight: 700;
  /* bold when hovering over a link */
}

a:active {
  /* selected link */
  color: #000000;
  font-weight: 700;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #73c3a3;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ffffff;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  /* visited link */
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  font-weight: 700;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  font-weight: 700;
}

.button.contact {
  background-color: transparent;
  color: #73c3a3;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #73c3a3;
  color: #ffffff;
}

.button.contact:visited {
  /* visited link */
  color: #000000;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#mywork .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #a7a9ac;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero {
  background-color: #e0f2ec;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-size: 14px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  color: #0d142d;
}

nav>ul>li>a:visited {
  font-weight: 300;
}

nav>ul>li>a:hover {
  font-weight: 700px;
}

nav>ul>li>a:active {
  font-weight: 700px;
}


#footer {
  background-color: #0d142d;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  color: #ebebeb;
}

ul {
  list-style-type: none;
  padding: 0;
}
